.field--widget-view-mode-selector-field-widget [type='radio'] {
  display: none;
}

.field--widget-view-mode-selector-field-widget .form-radios {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  --gap: .5rem;
  gap: var(--gap);
}

.field--widget-view-mode-selector-field-widget .form-radios > * {
  height: 10rem;
  width: calc((100% - (var(--gap) * (var(--size) - 1))) / var(--size));
  padding: 0;
  margin: 0;
  line-height: 0;
}

.field--widget-view-mode-selector-field-widget .view-mode-selector-field-wrapper[data-col="1"] {
  --size: 1;
}
.field--widget-view-mode-selector-field-widget .view-mode-selector-field-wrapper[data-col="2"] {
  --size: 2;
}
.field--widget-view-mode-selector-field-widget .view-mode-selector-field-wrapper[data-col="3"] {
  --size: 3;
}
.field--widget-view-mode-selector-field-widget .view-mode-selector-field-wrapper[data-col="4"] {
  --size: 4;
}
.field--widget-view-mode-selector-field-widget .view-mode-selector-field-wrapper[data-col="5"] {
  --size: 5;
}

.field--widget-view-mode-selector-field-widget .form-radios [type='radio'] + label {
  height: calc(100% - 2rem - 4px);
  width: calc(100% - 2rem - 4px);
  border: 2px solid var(--colorGinBorder, #d4d4d8);
  border-radius: .4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow .3s ease, border .3s ease;
}

.field--widget-view-mode-selector-field-widget .form-radios [type='radio']:checked + label,
.field--widget-view-mode-selector-field-widget .form-radios [type='radio'] + label:hover {
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .2);
}

.field--widget-view-mode-selector-field-widget .form-radios [type='radio']:checked + label {
  border: 2px solid var(--colorGinPrimary, #003cc5);
}

.field--widget-view-mode-selector-field-widget .form-radios [type='radio'] + label img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
